#schedule {
  .list {width: 50%;}
  padding-bottom: 10%;
}

.band .name-time {
  line-height: 1.8em;
  .name {
    font-size: 200%;
  }
  .time {

  }
}
.band {
  margin-bottom: 2em;
}

@media (max-width: 600px) {
  #schedule {
    text-align: center;
  }
  #schedule .list {
    width: auto;
  }
}