@mixin dimens($width, $height: '', $margin: '', $padding: '') {
	@if $margin		{	margin: 	$margin; 	}
	@if $width 		{	width:		$width; 	}
	@if $height 	{	height: 	$height; 	}
	@if $padding 	{	padding: 	$padding; 	}
}