  //////////////////////////////////////////////
 //// IMPORTS /////////////////////////////////
//////////////////////////////////////////////

@import "compass";
@import "cremalab-library";




  //////////////////////////////////////////////
 //// COLORS //////////////////////////////////
//////////////////////////////////////////////

$color-1: #EE3F35; //Red
$color-2: #A52C25; //Dark Red
$color-3: #0FBB93; //Green
$color-4: #0F8FBB; //Blue
$color-5: #333333; //Black
$color-6: #064B3B; //Dark Green




  //////////////////////////////////////////////
 //// GRID TEMPLATES //////////////////////////
//////////////////////////////////////////////

header, #header-mask-box, section#main, footer {
	@include gridTainer;
}

.row {
	@include gridRow;
}



  //////////////////////////////////////////////
 //// STYLES //////////////////////////////////
//////////////////////////////////////////////

body {
	background: #fff url("/img/bg_fabric.png") repeat 50% 160px;
}




  //////////////////////////////////////////////
 //// HEADER //////////////////////////////////
//////////////////////////////////////////////

#header-wrap {

}

header {
	position: relative;
	background: $color-1 url("/img/bg_crisscross.png") repeat;
	height: 260px;
	.row {
		position: relative;
		z-index: 10000;
	}
	#logo-box {
		@include gridCol(5);
		margin-bottom: 20px;
		overflow: visible !important;
		.logo {
			@include dimens(400px, 180px, null, 50px 0 0);
			background: url("/img/logo.png") no-repeat 34px bottom;
			overflow: visible;
		}
	}
	.details {
		@include gridCol(7, last);
		overflow: hidden;
		margin-bottom: 20px;
		@media handheld, only screen and (max-width: 927px) {
			display: block;
			width: auto;
			white-space: normal;
		}

		ul {
			float: right;
			padding-top: 50px;
			margin-bottom: 0;
			list-style: none;
			color: #fff;
			white-space: nowrap;
			@media handheld, only screen and (max-width: 926px) {
				float: left;
				white-space: normal;
			}
		}
		
		li { 
			margin: 0 40px 0 0;
			white-space: nowrap;
			float: left;
			&:last-child {margin: 0;}
			@media handheld, only screen and (max-width: 856px) {
				margin: 0 20px 20px 0;
			}
		}
		h3 { margin: 6px 0 0; line-height: 16px; text-transform: uppercase;}
		.bottom {font-family: 'OpenSansCondensedBold'}
		.free {
			@include dimens(103px, 62px);
			background: url("/img/free.png") no-repeat right center;
			@media handheld, only screen and (max-width: 926px) {
				@include dimens(103px, 62px);
				background: url("/img/free-red.png") no-repeat right center;
			}
		}
		.when {
			@include dimens(null, null, null, 4px 0 0 60px);
			background: url("/img/when.png") no-repeat 0 center;
			@media handheld, only screen and (max-width: 926px) {
				@include dimens(null, null, null, 4px 0 0 60px);
				background: url("/img/when-red.png") no-repeat 0 center;
				color: $color-2;
			}
		}
		.where {
			@include dimens(null, null, null, 4px 0 0 40px);
			background: url("/img/where.png") no-repeat 0 center;
			@media handheld, only screen and (max-width: 926px) {
				@include dimens(null, null, null, 4px 0 0 40px);
				background: url("/img/where-red.png") no-repeat 0 center;
				color: $color-2;
			}
		}
	}
	.social {
		z-index: 100;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 200px;
		@media handheld, only screen and (max-width: 926px) {
			position: relative;

		}
		@media handheld, only screen and (max-width: 767px) {
			@include gridCol(12, last);
			padding-left: 20px;
			padding-right: 20px;

		}
		a {
			@include inline-block;
			@include dimens(82px, 40px);
			@include hide-text;
			margin-right: 10px;
			&.twitter {
				background: url("/img/twitter.png");
			}
			&.facebook {
				background: url("/img/facebook.png");
			}
		}
	}
}


#header-mask-box {
	position: relative;
	height: 280px;
	margin-top: -260px;
	overflow: hidden;
	padding: 0;
	@media handheld, only screen and (max-width: 926px) {
		margin-bottom: 9em;
	}
	@media handheld, only screen and (max-width: 507px) {
		margin-bottom: 13em;
	}
	#mask {
		height: 270px;
		background: url("/img/bg_headerMask.png") repeat-x 50% 160px;
		min-width: 1160px;
		padding-left: 20px;
	}
}



  //////////////////////////////////////////////
 //// MAIN ////////////////////////////////////
//////////////////////////////////////////////

.main-content {
	@include gridCol(8);
	margin-bottom: 4em;
	@media handheld, only screen and (max-width: 767px) {
		margin-bottom: 4em;
	}
}

.content-header {
	margin: 0 0 6em;
	.mega {
		font-family: 'OpenSansCondensedBold';
		text-transform: uppercase;
		text-shadow: 2px 2px 0 #fff, 4px 4px 0 #D5DCE1 ;
	}

}

#schedule {

	h2 {
		font-family: 'OpenSansCondensedLight';
		text-align: center;
		text-transform: uppercase;
		line-height: 1.9em;
		color: #fff;
		background: $color-4;
		height: 60px;
		margin: 0 30px;

		&:before {
			content: '';
			display: block;
			width: 30px;
			height: 60px;
			margin: 0 0 0 -30px;
			float: left;
			background: url('/img/bg_ribbon-left.png') no-repeat 0 0;
		}

		&:after {
			content: '';
			display: block;
			width: 30px;
			height: 60px;
			margin: 0 -30px 0 0;
			float: right;
			background: url('/img/bg_ribbon-right.png') no-repeat 0 0;
		}
	}
}

#schedule-list {
	list-style: none;
	.band {
		padding: 0;
		border-bottom: 10px solid lighten(desaturate($color-4, 50), 50);
		overflow: hidden;

		.content {
			margin-bottom: 1em;
		}
		&.clicked {	
			height: auto;		
		}
		.name-time {
			overflow: hidden;
			line-height: 60px;
			height: 60px;
			font-size: 24px;
			cursor: pointer;
			@media handheld, only screen and (max-width: 767px) {
			    font-size: 18px;
			 }
			&:hover {
				background: lighten(desaturate($color-4, 50), 55); 
				margin: 0 -20px;
				padding: 0 20px;
			}
			.name {
				font-family: 'OpenSansBold';
				display: block;
				float: left;
				text-transform: uppercase;

			}
			.time { 
				float: right;
				font-family: 'OpenSansItalic';
			}
		}
		img {
			width: 100%;
			height: auto;
			margin: 0 0 1em}
		.band-link {}
	}

}

.sidebar {
	@include gridCol(4, last);
	margin-bottom: 4em;
	@media handheld, only screen and (max-width: 767px) {
		margin-bottom: 4em;
	}
}

.sponsors {
	ul {
		list-style: none;
		overflow: hidden;
		li {
			float: left;
			width: 26%;
			margin: 0 2% 20px;
			a {
				display: block;
				line-height: 60px;
			}
			img {
				margin: 0 auto;
				max-height: 60px;
				vertical-align: middle;
			}
		}
	}
}

aside.extra-info {
	@include gridCol(4);
	float: right;
	padding: 20px;
	background: lighten(desaturate($color-4, 50), 55);
	margin: 0 0 0 20px;
	p:last-child {
		margin-bottom: 0;
		font-family: 'OpenSansLightItalic';
	}
}

footer {
	background: $color-3 url("/img/bg_crisscross.png") repeat;
	
	.details {
		@include gridCol(12, last);
		padding: 50px 0;
		margin-bottom: 0;
		list-style: none;
		color: $color-6;
		white-space: nowrap;
		overflow: hidden;
		
		li { 
			margin-right: 40px;
			white-space: nowrap;
			float: left;
			&:last-child {margin: 0;}
			@media handheld, only screen and (max-width: 767px) {
				margin: 0 40px 40px 0
			}
		}
		h3 { margin: 6px 0 0; line-height: 16px; text-transform: uppercase;}
		.bottom {font-family: 'OpenSansCondensedBold'}
		.free {
			@include dimens(103px, 62px);
			background: url("/img/free-green.png") no-repeat right center;
			
		}
		.when {
			@include dimens(null, null, null, 4px 0 0 60px);
			background: url("/img/when-green.png") no-repeat 0 center;
		}
		.where {
			padding: 10px 0 0 40px;
			background: url("/img/where-green.png") no-repeat 0 center;
		}
		.info {
			padding: 20px 0 20px 60px;
			background: url("/img/info-green.png") no-repeat 0 center;
			a {
				color: $color-6;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.sponsors {
		ul {
			@include gridCol(12, last);
		}
	}

}

#footer-topBorder {
	height: 15px;
	background: url("/img/bg_grassTooth.png") repeat-x;
}

