/*
 *= require fadeshow/css/jquery.fadeshow-0.1.1.css
*/

@import "fonts";
@import "typography";
@import "schedule";
@import "compass";

$color-1: #EE3F35; /*//Red */
$color-2: #A52C25; /*//Dark Red */
$color-3: #0FBB93; /*//Green */
$color-4: #0F8FBB; /*//Blue */
$color-5: #333333; /*//Black */
$color-6: #064B3B; /*//Dark Green */

$color-green: #C6E6C7;
$color-red: #C7412E;
$color-dk-green: #026431;
$color-pink: #FF81E1;

@import 'type';

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  .overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: transparentize($color-green, .3);
    height: 100%;
    width: 100%;
  }
  #header_carousel {
    height: 100%;
    width: 100%;
  }
  .carousel {
    min-height: 100%;
    width: 100%;
    background-size: cover;
  }
}

.free-img {
  max-width: 10%;
  position: absolute;
  text-align: center;
  top: 5%;
  left: 45%;
}

#logo {
  max-width: 70%;
  margin: 1em auto;
  display: block;
  position: relative;
  top: 50%;
  margin-top: -23%;
}

#main {
  padding: 1% 0 4% 0;
  .row {
    overflow: hidden;
  }
}

.free {

}
.when, .where {
  position: absolute;
  text-align: center;
  bottom: 8%;
  width: 50%;
  h2 {
    margin-bottom: 0;
  }
}
.when {
  left: 5%;
  text-align: left;
}
.where {
  right: 5%;
  text-align: right;
}

#main .row {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2em;
}

.content-header {
  padding-bottom: 2em;
}

.grid {
  display: table;
}
.col {
  display: table-cell;
  vertical-align: middle;
  &.center {
    text-align: center;
  }
}

.main-content {
  padding-top: 2%;
}

#flamingo_main {
  width: 80%;
}
#tree_main {
  width: 70%;
}

@media (max-width: 600px) {
  .col {
    display: block;
  }
  #tree_main, #flamingo_main {
    width: 40%;
    padding: 1em 0;
  }
}


ul#schedule-list {
  margin: 0;
  padding: 0;
  list-style: none;
}



.divider {
  background: url('../img/ill/divider.svg');
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  height: 6%;
  width: 100%;
  position: absolute;
  margin-top: -7%;
  z-index: 15;
  &.alt {
    height: 7%;
    background-image: url('../img/ill/divider2.svg');
    margin-top: -2%;
  }
}

#sponsors {
  .large, .small, .text {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 2em 0;
  }
  .text {text-align: center}
  .sponsor {
    @include inline-block;
    padding: .5em;
    img {width: 100%;}
  }
  .large .sponsor {
    max-width: 120px;
    &.wide {
      max-width: 140px;
    }
    &.superwide {
      max-width: 170px;
    }
  }
  .small .sponsor {
    max-width: 80px;
    &.wide {
      max-width: 100px;
    }
    &.superwide {
      max-width: 120px;
    }
  }
  .text .sponsor {
    padding: 0 .4em;
  }

}
/*#sponsors .col {
  @include inline-block;
  max-width: 10%;
  a {
    display: block;
  }
}*/

.social {
  list-style: none;

}

@media (max-width: 600px) {
  .mega {
    font-size: 220%;
  }
  #sponsors .col {
    display: table-cell;
  }

  #grill_main {
    right: 10%;
  }
  .free-img {
    top: 15%;
  }
  .when, .where {
    h2 {
      font-size: 120%;
    }
  }
}




footer {
  background: $color-green url("/img/bg_crisscross.png") repeat;
  position: relative;
  padding-bottom: 4em;

  #grill_main {
    max-width: 20%;
    position: absolute;
    margin-top: -15%;
    right: 4%;
  }

  .details {
    padding: 50px 0;
    margin-bottom: 0;
    list-style: none;
    color: $color-6;
    white-space: nowrap;
    overflow: hidden;

    li {
      margin-right: 40px;
      white-space: nowrap;
      float: left;
      background-size: contain;
      &:last-child {margin: 0;}
      @media handheld, only screen and (max-width: 767px) {
        margin: 0 40px 40px 0
      }
    }
    h3 { margin: 6px 0 0; line-height: 16px; text-transform: uppercase;}
    .bottom {font-family: 'OpenSansCondensedBold'}
  }

}
