section#performances
  h1 Performances &amp; Installations
  h4 
      a(href='/big-idea') Pop-Up Charlie's Big Idea
  p 
    | Kansas City's favorite gilded doodle wizard
    a(href='http://popupcharlie.com') Pop-Up Charlie 
    | will be taking your responses to one of his burning questions and giving them life on paper. Made possible by our friendly neighbors at #[a(href="https://mobank.com") Missouri Bank].
      
  h4 Escapist Skateboarding Demonstration/Free Skate
  p
    | Catch some serious skating business going down right across from the main stage starring our friends from 
    a(href="http://escapistskateboarding.com") Escapist Skateboarding
    |. Bring your deck and 
    a(href="http://crossroads-block-party.s3.amazonaws.com/ASP-Release-012616.pdf") this completed waiver 
    | over for a free skate!
  
  h4 Lucia Aerial Performing Arts
  p 
    | Don’t look down! Witness the spectacle of 
    a(href="https://luciaaerial.com") Lucia Aerial Performing Arts 
    | students as they put on three late evening performances.

  h4 Free Bike Valet
  p 
    | Roll up to Crossroads Flock Party like a VIP and have your bike safely stored by 
    a(href='http://bikewalkkc.org') BikeWalkKC’s 
    | Bike Valet, made possible by 
    a(href='http://boulevard.com') Boulevard Brewing Company
    |.

section#food
  h1 Food &amp; Drink
  p 
    | Grab some street food from local food joints 
    a(href="http://www.mildredscoffeehouse.com") Mildreds
    |,  
    a(href="http://www.thesundry.com") The Sundry
    |, and 
    a(href="http://www.thebitekc.co") The Bite
    |, then wash it all down with beer and cocktails from the Flock Party bar, made possible by our friends at 
    a(href="http://www.therecordbar.com") recordBar
    |.
    
//- include ./_makers.jade
