section#makers
  h1 Makers
  p Crossroads Flock Party wouldn't be complete without a neighborhood market!
  ul
    li
      a(href="https://www.etsy.com/shop/DuplikaJewelry") Duplika
    li Wolfe Barak
    li
      a(href="https://www.facebook.com/thejeweledgypsykc/") The Jeweled Gypsy
    li
      a(href="http://www.lexadazy.com") Lex
    li
      a(href="http://www.neatartiststudio.com") Neat
    li
      a(href="https://www.etsy.com/shop/lostandfounddesignus?ref=hdr_shop_menu") Lost and Found
    li
      a(href="https://tammysmithdesign.com") Tammy Smith Designs
    li
      a(href="http://www.bryanfyffe.com") Brian Fyffe
    li
      a(href="http://www.commandeerbrand.com") Commandeer Brand
    li
      a(href="http://www.cartwheeljess.com") CartWheel
    li
      a(href="https://www.facebook.com/rattlebonedesign") Rattle bone Designs 
    li
      a(href="https://www.etsy.com/shop/WhiskeyandBone") Whiskey + Bone
    li
      a(href="https://www.facebook.com/Photaj/?pnref=lhc") Pho-taj
