ul#schedule-list
  each band,index in schedule.bands
    li.band
      .name-time
        .time= time_slots[index].start
        a.name(href=band.url target="_blank")= band.name
      .content
        .photo(data-src="/img/bands/jorge.jpg")
          img.hidden
        p= band.description
