section.sponsors
  h4 Made possible by these friendly neighbors
  .large
    .sponsor.superwide
      a(href="http://www.mobank.com")
        img(src='/img/sponsors/mo_bank.png', alt: "Missouri Bank")
    .sponsor.wide
      a(href="http://www.boulevard.com")
        img(src='/img/sponsors/boulevard.png', alt: "Boulevard Brewing")
    .sponsor
      a(href="http://www.mildredscoffeehouse.com")
        img(src='/img/sponsors/mildreds.png', alt: "Mildred's")
    .sponsor
      a(href="http://boverirealty.com")
        img(src='/img/sponsors/boveri.png', alt: "Boveri Realty")
  .small
    .sponsor
      a(href="http://cremalab.com")
        img(src='/img/sponsors/cremalab.png', alt: "Cremalab")
    .sponsor
      a(href="http://www.snowandcompany.com/")
        img(src='/img/sponsors/snow_co.png', alt: "Snow & Company")
    .sponsor.superwide
      a(href="http://www.departmentzero.com")
        img(src='/img/sponsors/deptzero.jpg', alt: "Department Zero")
  .text
    a.sponsor(href="http://www.hooplastudio.com") Hoopla
    a.sponsor(href="http://www.therobertsonlawgroup.com") Robertson Law Group
    a.sponsor(href="http://www.kcstreetcar.org") KC Streetcar Contractors
    a.sponsor(href="https://www.barkleyus.com") Barkley
    a.sponsor(href='http://www.artlithocraft.com') ALC Group
    a.sponsor(href='http://www.mpresskc.com') Mpress
    a.sponsor(href="http://www.ej4.com") ej4
