extends ./home_layout.jade

block content
  section#about
    !{content.html}
  
  section#music
    h1 Music
    p A snapshot of some of the best regional independent music around on the Flock Party stage in 2017.
    include ./_schedule.jade
  
  
