extends ./home_layout.jade

block content
  section#about
    !{content.html}
  
  section#music
    h1 Music
    p Get an earful of the best regional independent music around on the Flock Party stage, active all evening long.
    include ./_schedule.jade
    p
      iframe(width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/228049902&amp;color=f04a25&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")
  
  section#performances
    h1 Performances &amp; Installations
    h4 Pop-Up Charlie's &ldquo;What’s the Big Idea?&rdquo;
    p 
      | Kansas City's favorite art wizard/doctor/shaman/doodler 
      a(href='http://cargocollective.com/charliemylie') Pop-Up Charlie 
      | has a lot of questions burning deep within him. Lend him your ideas throughout the evening and he'll unite them into a public visual art installation to remain on display for months to come! Made possible by our friendly neighbors at #[a(href="https://mobank.com") Missouri Bank].
      
    h4 Oddities Prints
    p 
      | Witness the masters at work with some live art printing from 
      a(href="http://www.odditiesprints.com") Oddities Prints
      |! Throw down for an Artist Takeover edition shirt + print designed by 
      a(href="http://kelseyborch.com") Kelsey Borch
      |, and take a crack at screen printing your own patch for free.
    
    h4 Escapist Skateboarding Demonstration/Free Skate
    p
      | Catch some serious skating business going down right across from the main stage from 6-8pm starring our friends from 
      a(href="http://escapistskateboarding.com") Escapist Skateboarding
      |. No need to leave all the skating to the pros, though: bring your deck over from 5-6pm for a free skate.
      
    h4 Quixotic
    p
      | With hardly the need for an introduction, the stunning and innovate performance art collective 
      a(href="http://www.quixoticfusion.com") Quixotic 
      | will dazzle us all with a performance preview of their season to come.
  
  section#food
    h1 Food &amp; Drink
    p 
      | Grab some street food from local food joints 
      a(href="http://www.mildredscoffeehouse.com") Mildreds
      |,  
      a(href="http://extravirginkc.com") Extra Virgin
      |,  
      a(href="http://www.thesundry.com") The Sundry
      |, and 
      a(href="http://www.thebitekc.com") The Bite
      |, then wash it all down with beer and cocktails from the Flock Party bar.
      
  section#makers
    h1 Makers
    p Flock Party wouldn't be complete without a neighborhood market!
    ul
      li
        a(href="https://www.facebook.com/Lost-Found-Design-189312948212/") Lost & Found Jewelry
      li
        a(href="http://kcbravery.com") Kansas City Bravery Company 
      li
        a(href="https://www.facebook.com/thejeweledgypsykc/") The Jeweled Gypsy
      li
        a(href="http://www.funhouse57.com") Dick Daniels
      li
        a(href="") Luca + Company
      li
        a(href="https://tammysmithdesign.com") Tammy Smith
      li
        a(href="http://www.kcwoodphoto.com") KC Wood Photos
      li
        a(href="https://www.etsy.com/shop/tallpinestshirts") Tall Pines
      li
        a(href="http://www.honeybeecreative.net") HoneyBee Creative
      li
        a(href="https://www.etsy.com/shop/RomanyHouse") Romany House
      li
        a(href="http://milkandhoneycandles.com") Milk + Honey
      li
        a(href="http://www.bryanfyffe.com") Brian Fyffe
      li
        a(href="https://oceanandsea.com") Ocean & Sea
      li
        a(href="http://www.rakunshop.com") Rakun
      li
        a(href="") Studio Play
      li
        a(href="https://www.etsy.com/shop/ArchetypeCollective") Archetype Collective
      li
        a(href="http://www.emilybordner.com") EB Leatherworks
      li
        a(href="https://www.pinterest.com/lexadazy/") Lex Camille Jewelry
      li
        a(href="https://www.facebook.com/greenutopiaKC/") Green Utopia
      li
        a(href="http://vintagekcmag.com") VintageKC Magazine
      li
        a(href="http://www.kcthistle.net") Thistle Vintage Studio
