extends ./layout.jade

block content
  section#about
    p Join us June 3 from for the 5th annual #[strong Crossroads Flock Party]! This annual neighborhood blow-out highlights regional independent music, local makers and artists, and some of the food and drink that makes Kansas City great. Swing by during your typical First Friday rounds and stick around for the festivities! Check back here for more announcements.
  
  //- section#music
  //-   h1 Music
  //-   include ./_schedule.jade
  
