extends ./layout.jade

block content
  section#about
    p Join us June 3 from 5pm - 11pm for the 5th annual #[strong Crossroads Flock Party]! This annual neighborhood blow-out highlights regional independent music, local makers and artists, and some of the food and drink that makes Kansas City great. Swing by during your First Friday rounds and stick around for the festivities! Check back here for more announcements.
  
  section#music
    h1 Music
    p Get an earful of the best regional independent music around on the Flock Party stage, active all evening long.
    include ./_schedule.jade
  
