extends ./page_layout.jade

block content
  section
    if page.gallery.length
      #page_gallery
        each image in page.gallery
          a(href=image.url target="_blank")
            img(src=image.limit(1000,1000) data-src-2x="#{image.limit(2000,2000)}")
    !{page.content.html}
