#schedule {
  .list {width: 50%;}
  padding-bottom: 10%;

  h2 {
    small {
      font-size: 50%;
      vertical-align: middle;
      padding-left: 2em;
    }
  }
}

.band .name-time {
  line-height: 1.8em;
  .name {
    font-size: 200%;
    color: $nav-link;
  }
  .time {

  }
}
.band {
  margin-bottom: 2em;
}

@media (max-width: 600px) {
  #schedule {
    text-align: center;
  }
  #schedule .list {
    width: auto;
  }
}

.low-pad {
  margin-top: 1em;
}
.bottom-pad {
  padding-bottom: 6em;
}

#makers, #food_trucks {
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    padding: 1em;
  }
}

#food_trucks {
  text-align: center;
}
