@import "typography"
@import "sponsors"
@require "colors"


color-1 = #EE3F35
color-2 = #A52C25
color-3 = #0FBB93
color-4 = #0F8FBB
color-5 = #333333
color-6 = #064B3B

color-ltblue = #a4e0f6
color-green = #C6E6C7
color-red = #C7412E
color-dk = #026431
color-pink = #FF81E1

html
  height: 100%

body
  height: 100%
  margin: 0
  padding: 0
  background: color-tan

.free-img
  position: relative
  text-align: center
  top: 15%
  margin: 0 auto

header#main_header
  height: 100vh
  width: 100%
  display: table
  text-align: center


#logo
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;

#logo img
  display: block
  vertical-align: middle
  margin: 0 auto
  text-align: center


#main_content > section
  max-width: 700px
  margin: 1rem auto

@media (max-width: 600px)
  .col
    display: block

  #tree_main, #flamingo_main
    width: 40%
    padding: 1em 0

  #speech_bubble
    top: 13%
    width: 100%
    left: -15%

  .big-mingo
    width: 60%
    margin-top: -25%




ul#schedule-list
  margin: 0
  padding: 0
  list-style: none




.divider
  background: url('../img/ill/divider.svg')
  background-size: 200%
  background-position: center
  background-repeat: no-repeat
  height: 6%
  width: 100%
  position: absolute
  margin-top: -7%
  z-index: 15
  &.alt
    height: 7%
    background-image: url('../img/ill/divider2.svg')
    margin-top: -2%



#sponsors
  .large, .small, .text
    text-align: center
    border-bottom: 1px solid #eee
    padding: 2em 0

  .texttext-align: center
  .sponsor
    padding: .5em
    img
      max-width: 100%
      max-height: 140px

    adisplay: block

  .large .sponsor
    max-width: 120px
    &.wide
      max-width: 140px

    &.superwide
      max-width: 170px


  .small .sponsor
    max-width: 80px
    &.wide
      max-width: 100px

    &.superwide
      max-width: 120px

    &.megawide
      max-width: 165px


  .text .sponsor
    padding: 0 .4em



/*#sponsors .col
  @include inline-block
  max-width: 10%
  a
    display: block

*/

.social
  list-style: none



@media (max-width: 600px)
  .mega
    font-size: 220%

  #sponsors .col
    display: table-cell


  #grill_main
    right: 10%

  .free-img
    top: 15%

  .when, .where
    h2
      font-size: 120%


  #info-right
    p
      font-size: 80%

footer
  background: color-green url("/img/bg_crisscross.png") repeat
  position: relative
  padding-bottom: 4em

  #grill_main
    max-width: 20%
    position: absolute
    margin-top: -15%
    right: 4%


  .details
    padding: 50px 0
    margin-bottom: 0
    list-style: none
    color: color-6
    white-space: nowrap
    overflow: hidden

    li
      margin-right: 40px
      white-space: nowrap
      float: left
      background-size: contain
      &:last-child
        margin 0


    h3
      margin: 6px 0 0
      line-height: 16px
      text-transform: uppercase
    .bottom
      font-family: 'OpenSansCondensedBold'




a.button
  background: color-ltblue
  padding: .6em 1em
