@import "typography"
@require "colors"
@import "schedule"
@import "animation"
@import "sponsors"


color-1 = #EE3F35
color-2 = #A52C25
color-3 = #0FBB93
color-4 = #0F8FBB
color-5 = #333333
color-6 = #064B3B

color-ltblue = #a4e0f6
color-green = #C6E6C7
color-dk = #026431
color-pink = #FF81E1

html
  height: 100%

body
  height: 100%
  margin: 0
  padding: 0
  background: color-tan

.free-img
  position: relative
  text-align: center
  top: 15%
  margin: 0 auto

header#main_header
  height: 100vh
  width: 100%
  display: table
  text-align: center
  &.compact
    width: 100%
    margin: 0 auto
    padding-top: 2em
    height: auto
    #logo
      display: inline-block;
      background: none
      img
        width: 40%
        padding: 1em
        vertical-align: middle
        display: inline-block
      .event-info
        vertical-align: middle
        display: inline-block
        width: 40%
        h4
          margin-bottom: 0.4em
        h2
          margin: 0


#logo
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  background url('/img/flock_party_bg_static.svg') no-repeat
  background-position: -40px 50%

#logo img
  display: block
  vertical-align: middle
  margin: 0 auto
  text-align: center
  max-height: 450px


#main_content > section
  max-width: 700px
  margin: .5rem auto
  padding: .5rem 1.5rem

  h1
    color color-red
    margin-left: -1rem
    margin-bottom: 1rem;
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);

  @media (max-width: 600px) {
    h1 {
      margin-left: 0;
    }
  }

@media (max-width: 600px)
  #logo
    background: none



#sponsors
  .large, .small, .text
    text-align: center
    border-bottom: 1px solid #eee
    padding: 2em 0

  .texttext-align: center
  .sponsor
    padding: .5em
    img
      max-width: 100%
      max-height: 140px

    adisplay: block

  .large .sponsor
    max-width: 120px
    &.wide
      max-width: 140px

    &.superwide
      max-width: 170px


  .small .sponsor
    max-width: 80px
    &.wide
      max-width: 100px

    &.superwide
      max-width: 120px

    &.megawide
      max-width: 165px


  .text .sponsor
    padding: 0 .4em

#makers
  ul
    text-align: left
  li
    display: inline-block
    padding: 1rem 1rem 0 0
    list-style: none
