@require "colors"
@import "../fonts/social"

font-size    = 18
baseline     = 1rem
font-color   = #333
header-color = #333

nav-link = #1366A6
nav-hover = color-pink

html {
  font-family:	font-family;
  line-height:  font-size;
  margin-bottom:  font-size;

	font-size: 		20px;
	line-height:	baseline;
	margin-bottom:	baseline;
}

body {
  font-size:    20px;
  font-family: 'Open Sans', sans-serif;
	color:   font-color;
}
@media (max-width: 600px) {
  body {
    font-size: 18px !important
  }
  p {
    line-height:  1.1rem;
  }
  h1 {
    font-size:    1rem;
    line-height:  3.5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: color-red;
}

p {
  line-height:  1.4rem;
}

p.social {
  margin: 0
  font-size: 1.5rem
  a {
    color: color-purple
  }
  &.small {
    margin-top: 1em;
  }
}

h1 {
  font-family: 'Asap'
  font-size:    3rem;
  line-height:  3.5rem;
  margin:       1rem 0;
  color: color-red
}
@media (max-width: 600px) {
  h1 {
    font-size:    40px;
    line-height:  1.6rem;
    margin-left: 0;
  }
}

h4 {
  margin-bottom: 0;
}

#main_header h1 {
  font-size:    4rem;
  line-height:  4.5rem;
  color: color-red
  margin: .5rem 0
}

#main_header h2 span.red.fat-slab {
  font-size: 1.2rem;
  letter-spacing: -0.1rem;
  vertical-align: middle;
}

#main_header #logo h4 {
  margin: 0 0 2rem 0
}

#about {
  img {
    max-width: 100%;
  }
}

.align-center {
  text-align: center;
}

h2 {
  font-family: 'Asap'
  font-size:    2rem;
  line-height:  2.5rem;
	color: color-purple
  text-transform: uppercase;
  margin: 2rem 0 0 0
}

sup {
  text-transform: none
  vertical-align: top
}

h3 {
  font-family: 'Asap'
	font-size:    1rem;
  text-transform: uppercase;
}

h4 {
  font-family: 'Asap'
	font-size:    1.5rem;
  line-height: 1.6rem;
}

h5 {
  font-family: 'Asap'
	font-size:    0.66*font-size;
  margin:       2.00*font-size 0 1.00*font-size;

	font-size:		0.66*baseline;
	margin:	    	2.00*baseline 0 1.00*baseline;
}

h6 {
  font-family: 'Asap'
	font-size:    0.50*font-size;
  margin:       2.05*font-size 0 0.96*font-size;

	font-size:		0.50*baseline;
	margin:	    	2.05*baseline 0 0.96*baseline;
}

p,
ul,
ol 	{
  margin-bottom: 1*font-size;
  margin-bottom:	1*baseline;
}

ul {
  list-style: disc;
	list-style-position: inside;
  margin: 0;
  padding: 0 0;

  li {
    line-height: 1.2rem
  }
}

ol {
  list-style: alpha;
	list-style-position: inside;
}
body, p {
  color:   font-color;
}
blockquote {
  padding:    0 1.5*baseline 0;
  border-left: 0.3em solid color-red
  p {
    color: lighten(font-color, 20%)
  }
}

cite {
  font-family: 	'OpenSansLightItalic';
  font-style: normal;
}

a {
  text-decoration: none;
  &:link, &:visited {
    color: nav-link;
  }
  &:hover, &:active {
    color: color-purple;
  }
}
strong, em {
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: normal;
}
