#flamingos
%ul.details
  %li.free
  %li.when
    .top
      %h3 June 7, 2013
    .bottom 6:00 - MIDNIGHT
  %li.where
    .top
      %h3 19th &amp; Baltimore
    .bottom Kansas City, MO
  %li.info
    %h3 Info
    .bottom
      %a{:href => "mailto:info@goldensoundrecords.com?Subject=Crossroads%Summer%Block%Party"}info@goldensoundrecords.com
  %li.credits
    website and design by
    = link_to 'Cremalab', 'http://cremalab.com', :class => 'cremalab'
