= image_tag 'ill/grill.svg', id: 'grill_main'
%ul.details
  %li.free
  %li.when
    .top
      %h3 June 5, 2014
    .bottom 6:00 - MIDNIGHT
  %li.where
    .top
      %h3 W 19th &amp; Wyandotte
    .bottom Kansas City, MO