%ul.details
  %li.free
  %li.when
    .top
      %h3 July 6
    .bottom 4:00 - 11PM
  %li.where
    .top
      %h3 18th &amp; Baltimore
    .bottom Kansas City, MO
  %li.info
    %h3 Info
    .bottom
      %a{:href => "mailto:info@goldensoundrecords.com?Subject=Crossroads%Summer%Block%Party"}info@goldensoundrecords.com
    
.sponsors
  %ul
    = partial "sponsors"