%header
  .row
    #logo-box
      %a.logo{:href => "/"}
    .details
      %ul
        %li.free
        %li.when
          .top
            %h3 June 7, 2013
          .bottom 6:00 - MIDNIGHT
        %li.where
          .top
            %h3 19th &amp; Baltimore
          .bottom Kansas City, MO
    .social
      = link_to '', 'https://www.facebook.com/KCblockparty', :class => 'facebook'
      = link_to '', 'http://twitter.com/KCBlockParty', :class => 'twitter'
#header-mask-box
  #mask
