%header
  .overlay
    #info-right
      %p
        hang tight,
        %a{href:'https://www.facebook.com/KCblockparty'} this year is gonna be great
    #speech_bubble
      = image_tag 'ill/free.svg'
    = image_tag 'ill/flamingo.svg', class: 'big-mingo'
    .details-left
      .when
        %h2
          June 3, 2016
        %cite 5pm - 11pm
      .where
        %h2 W 19th &amp; Wyandotte
        %cite Kansas City, MO
  #header_carousel
