%header
  .row
    #logo-box
      %a.logo{:href => "/"}
    .details
      %ul
        %li.free
        %li.when
          .top
            %h3 July 6
          .bottom 4:00 - 11PM
        %li.where
          .top
            %h3 19th &amp; Baltimore
          .bottom Kansas City, MO
    .social
      = link_to 'Facebook', 'https://www.facebook.com/KCblockparty', :class => 'facebook'
      = link_to 'Twitter', 'http://twitter.com/KCBlockParty', :class => 'twitter'
#header-mask-box
  #mask
