%header
  .overlay
    = image_tag 'ill/free.svg', class: 'free-img'
    %a#logo{href: "/"}
      %img{src: './img/csbp_2015.svg', alt: "Crossroads Summer Block Party 2015"}
    .details-left
      .when
        %h2
          July 3, 2015
        %cite 6:00 - MIDNIGHT
      .where
        %h2 W 19th &amp; Wyandotte
        %cite Kansas City, MO
  #header_carousel