%header
  .row
    #logo-box
      .logo
    %ul.details
      %li.free
      %li.when
        .top
          %h3 July 6
        .bottom 4:30 - 12PM
      %li.where
        .top
          %h3 Street Address
        .bottom Kansas City, MO
#header-mask-box
  #mask
  