.large
  %li
    %a.goldenSound{:href => "https://goldensoundrecords.com/"} 
  %li
    %a.mildreds{:href => "http://www.mildredscoffeehouse.com/"}     
  %li
    %a.thinkBig{:href => "http://thinkbigpartners.com/"} 
  %li
    %a.globalPrairie{:href => "http://www.global-prairie.com/"} 
  %li
    %a.thePitch{:href => "http://www.pitch.com/"} 
  %li.boveri
    %a.boveri{:href => "http://www.boverirealty.com/"}
  %li
    %a.cremalab{:href => "http://cremalab.com/"} 

.small
  %li
    %a.thinkKc{:href => "http://www.thinkkc.com/"} 
  %li
    %a.elementOfGreen{:href => "http://www.elements-of-green.com/"} 
  %li
    %a.recordMachine{:href => "http://therecordmachine.net/"} 
  %li
    %a.t2{:href => "http://www.t2.tv/"}
  %li
    %a.candc{:href => "http://www.candccustomdrums.com/"} 
  %li
    %a.mmf{:href => "http://midwestmusicfound.org"}
  %li
    %a.hammerpress{:href => "http://hammerpress.net/"}
