.large
  %li
    %a.goldenSound{:href => "https://goldensoundrecords.com/"} 
  %li
    %a.mildreds{:href => "http://www.mildredscoffeehouse.com/"}     
  %li
    %a.thinkBig{:href => "http://thinkbigpartners.com/"} 
  %li
    %a.globalPrairie{:href => "http://www.global-prairie.com/"} 
  %li
    %a.thePitch{:href => "http://www.pitch.com/"} 
  %li
    %a.moBank{:href => "http://www.mobank.com/"} 
  %li.boveri
    %a.boveri{:href => "http://www.boverirealty.com/"}
  %li
    %a.cremalab{:href => "http://cremalab.com/"} 
  %li
    %a.snowCo{:href => "http://snowandcompany.com/"} 
  %li
    %a.alcGroup{:href => "http://www.artlithocraft.com/home"}

.small
  %li
    %a.thinkKc{:href => "http://www.thinkkc.com/"} 
  %li
    %a.elementOfGreen{:href => "http://www.elements-of-green.com/"} 
  %li
    %a.recordMachine{:href => "http://therecordmachine.net/"} 
  %li
    %a.t2{:href => "http://www.t2.tv/"}
  / %li
  /   %a.sporting{:href => "http://www.sportingkc.com/"}
  %li
    %a.candc{:href => "http://www.candccustomdrums.com/"} 
  %li
    %a.mmf{:href => "http://midwestmusicfound.org"}
  %li.hammerpress
    %a.hammerpress{:href => "http://hammerpress.net/"}
  %li.mpress
    %a.mpress{:href => "http://mpresskc.com/"}