.large
  %li
    %a.goldenSound{:href => "https://goldensoundrecords.com/"} 
  %li
    %a.thePitch{:href => "http://www.pitch.com/"}
  %li
    %a.boulevard{:href => "http://www.boulevard.com"}
  %li.moBank
    %a.moBank{:href => "http://www.mobank.com"}
  %li.mildreds
    %a.mildreds{:href => "http://www.mildredscoffeehouse.com"}
  %li.cremalab
    %a.cremalab{:href => "http://cremalab.com"}
  %li.boveri
    %a.boveri{:href => "http://boverirealty.com"}
.small
  %li.barkley
    %a.barkley{:href => "http://www.barkleyus.com/"}
  %li.hammerpress
    %a.hammerpress{:href => "http://hammerpress.net"}
  %li.mpress
    %a.mpress{:href => 'http://www.mpresskc.com'}
.text
  %a{href: "http://www.ej4.com"} ej4
  %a{href: "http://www.loqey.com"} Loqey
  %a{href: "http://www.snowandcompany.com"} Snow &amp; Co.
