.large
  %li
    %a.goldenSound{:href => "https://goldensoundrecords.com/"}
  %li
    %a.thePitch{:href => "http://www.pitch.com/"}
  %li.sprint
    %a.sprint{:href => "http://sprintaccelerator.com"}
  %li.boulevard
    %a.boulevard{:href => "http://www.boulevard.com"}
  %li.moBank
    %a.moBank{:href => "http://www.mobank.com"}
  %li.mildreds
    %a.mildreds{:href => "http://www.mildredscoffeehouse.com"}
  %li.cremalab
    %a.cremalab{:href => "http://cremalab.com"}
  %li.boveri
    %a.boveri{:href => "http://boverirealty.com"}
  %li.snowCo
    %a.snowCo{:href => "http://www.snowandcompany.com/"}
  %li.alcGroup
.small
  %li.mpress
.text
  %a{href: "http://www.ej4.com"} KC Street Car
  %a{href: "http://www.barkleyus.com/"} Barkley
  %a{href: "http://hinthint.tv"} Hint
  %a{href: 'http://www.artlithocraft.com'} ALC Group
  %a{href: 'http://www.mpresskc.com'} Mpress
  %a{href: "http://www.ej4.com"} ej4
  %a{href: "http://raygunsite.com"} Raygun
  %a{href: "http://kccrossroads.org/members/tail-waggin-petstop-opening-spring-2014"} Tail Waggin' PetStop