.large
  %li
    %a.goldenSound{:href => "https://goldensoundrecords.com/"} 
  %li
    %a.mildreds{:href => "http://www.mildredscoffeehouse.com/"}     
  %li
    %a.thePitch{:href => "http://www.pitch.com/"}     
  %li
    %a.thinkBig{:href => "http://thinkbigpartners.com/"} 
  %li.globalPrairie
    %a.globalPrairie{:href => "http://www.global-prairie.com/"} 
  %li
    %a.moBank{:href => "http://www.mobank.com/"} 
  %div
    %li.cremalab
      %a.cremalab{:href => "http://cremalab.com/"} 
    %li
      %a.alcGroup{:href => "http://www.artlithocraft.com/home"}
  %li.boveri
    %a.boveri{:href => "http://www.boverirealty.com/"}
  %li
    %a.boulevard{:href => 'http://www.boulevard.com/'}
  %li
    %a.bulldog{:href => "http://www.kcbulldog.com/"}    
  %li
    %a.snowCo{:href => "http://snowandcompany.com/"} 

.small
  %li
    %a.thinkKc{:href => "http://www.thinkkc.com/"} 
  %li
    %a.elementOfGreen{:href => "http://www.elements-of-green.com/"} 
  %li
    %a.recordMachine{:href => "http://therecordmachine.net/"} 
  %li
    %a.t2{:href => "http://www.t2.tv/"}
  %li
    %a.sporting{:href => "http://www.sportingkc.com/"}
  %li
    %a.candc{:href => "http://www.candccustomdrums.com/"} 
  %li
    %a.mmf{:href => "http://midwestmusicfound.org"}
  %li.pieroguys
    %a.pieroguys{:href => "http://www.pieroguys.com/"}
  %li.hammerpress
    %a.hammerpress{:href => "http://hammerpress.net/"}
  %li.mpress
    %a.mpress{:href => "http://mpresskc.com/"}
  %li
    %a.seen{:href => "http://seenmerch.com/"}
  %li.barkley
    %a.barkley{:href => "http://www.barkleyus.com/"}
  %li.quintiles
    %a.quintiles{:href => "http://www.quintiles.com/"}
  %li
    %a.websterHouse{:href => "http://www.websterhousekc.com/"}
  %li
    %a.pizzabella{:href => "http://www.pizzabellakc.com/"}
  %li.tangledMane
    %a.tangledMane{:href => "http://www.etsy.com/shop/TANGLEDMANEVINTAGE"}