<a class="twitter-timeline" href="https://twitter.com/search?q=from%3AKCBlockParty+OR+to%3AKCBlockParty+OR+%40KCBlockParty+OR+%23partylikeaflamingo" data-widget-id="462030465201737729">Tweets about "from:KCBlockParty OR to:KCBlockParty OR @KCBlockParty OR #partylikeaflamingo"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

