- content_for :head do
  %title Crossroads Summer Block Party - Kansas City, Missouri
.main-content
  .content-header

    %h1.mega Howdy Neighbors!

    :markdown
      Join us June 6th for the Crossroads Summer Block Party presented by [Golden Sound Records](https://goldensoundrecords.com) and [The Pitch](http://www.pitch.com)! Enjoy an evening of [live music](#schedule) from some of the best bands in town, tasty treats from [food trucks](#food_trucks), live art, and friendly neighbors.

      Bring your friends &amp; family to the First Fridays event of 2013 and discover a taste of what makes Kansas City and the Crossroads Arts District one-of-a-kind. Then cool down with us at the after party hosted by [Snow &amp; Co.](http://snowandcompany.com)

  #schedule
    %h2 2013 Schedule
    %ul#schedule-list
      %li.band
        .name-time
          .name Jorge Arana Trio
          .time 6:00 - 6:30
        .content
          .photo{:'data-src' => "/img/bands/akkilles.jpg"}
            %img.hidden
          %a.band-link{:href => "https://soundcloud.com/akkilles", :target => "blank"} SoundCloud
          %a.band-link{:href => "https://www.facebook.com/Akkilles", :target => "blank"} Facebook
      %li.band
        .name-time
          .name Rev Gusto
          .time 6:45 - 7:15
        .content
          .photo{:'data-src' => "img/bands/rev-gusto.jpg"}
            %img.hidden
          %p Basement pop band from Kansas City with influences such as The Velvet Underground, The Kinks, and The Strokes.
          %a.band-link{:href => "https://www.facebook.com/revgusto", :target => "blank"} Facebook
      %li.band
        .name-time
          .name Mat Shoare
          .time 7:30 - 8:00
        .content
          .photo{:'data-src' => "img/bands/mat-shoare.jpeg"}
            %img.hidden
          %p Mat Shoare has spent almost half of his 24 year long life writing and recording his own music. Much of this has taken place in several bedrooms and basements around Kansas City. Shoare prefers a homemade sound and feel to his recordings. Most of the music is centered around one of his favorite subjects, and one which he is a studied expert of: himself.
          %a.band-link{:href => "http://matshoare.com", :target => "blank"} Website
      %li.band
        .name-time
          .name La Guerre
          .time 8:15 - 8:45
        .content
          .photo{:'data-src' => "img/bands/la-guerre.jpg"}
            %img.hidden
          %p La Guerre is the dark pop project of Cowboy Indian Bear’s Katlyn Conroy. “La Guerre” is french for “The War” and was taken from the title of a lengthy A Capella piece she sang in high school. Conroy is known for her chilling vocals, personal lyrical content, and emotional transparency on stage. A 2013 winner of a Kansas City Pitch Award for Best Female Singer/Songwriter, La Guerre frequently tours with numerous projects when not at home in Lawrence, Kansas.
          %a.band-link{:href => "http://laguerremusic.tumblr.com", :target => "blank"} Website
      %li.band
        .name-time
          .name Loose Park
          .time 9:00 - 9:30
        .content
          .photo{:'data-src' => "img/bands/loose-park.jpg"}
            %img.hidden
          %a.band-link{:href => "https://www.facebook.com/LOOSEPARK", :target => "blank"} Facebook
      %li.band
        .name-time
          .name Metatone
          .time 9:45 - 10:15
        .content
          .photo{:'data-src' => "img/bands/metatone.jpg"}
            %img.hidden
          %a.band-link{:href => "https://www.facebook.com/JaMetatone", :target => "blank"} Facebook
      %li.band
        .name-time
          .name The ACBs
          .time 10:30 - 11:00
        .content
          .photo{:'data-src' => "img/bands/"}
            %img.hidden
          %p ...So yes. Harmony. Dancing. Fun. Cool people that aren’t pretentious. Embracing your insecurities. Maybe sweating a little bit but not so much that it becomes gross for the other people in attendance. This is what the acb’s stand for. Please come see them (us).
          %a.band-link{:href => "http://highdiverecords.com/index.php/the-acbs/", :target => "blank"} Website
      %li.band
        .name-time
          .name Forrester
          .time 11:15 - 12:00
        .content
          .photo{:'data-src' => "/img/bands/forrester.jpeg"}
            %img.hidden
          %p From the same family of experimental post-rock as Tortoise, Mogwai, and Deerhunter, comes Forrester, a five-piece guitar and sample factory from Lawrence, KS. Sprawling soundscapes, pulsing beats and frenetic energy bubble beneath the surface of Forrester’s sound, made by Brian Rogers, Joe Newman, Connor Creighton, Will Chertoff, and Steven LaCour. Currently, Forrester is promoting their debut EP, "Antithesis", while bringing their visceral and mesmerizing live show out to a solid fan base throughout the Midwest . Forrester’s brand of ambient electro-rock is about to be launched on a big scale. You’ll want to get on board with that. Meanwhile, Forrester is just trying really, really hard to save the world, one epic tune at a time.

          %a.band-link{:href => "https://www.facebook.com/pages/Forrester/268901189820469", :target => "blank"} Facebook

  #food_trucks
    %h2 Food Trucks
    %ul.grid
      %li
        %h3
          %a{:href => 'http://www.indioscarbonsitos.com'} Indios Carbonistos
      %li
        %h3
          %a{:href => 'https://www.facebook.com/pages/Wilmas-Real-Good-Food/182089678568174'} Wilma's Real Good Food
      %li
        %h3
          %a{:href => 'http://www.jazzybmobile.com'} Jazzy B's

.sidebar
  .sponsors
    %h3 Sponsors
    %ul
      = partial "sponsors"

  #twitter
    %h3 News Feed
    %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 30000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ee3e35',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#333333',
            links: '#0F8FBB'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: true,
          behavior: 'all'
        }
      }).render().setUser('KCBlockParty').start();




