- content_for :head do
  %title Crossroads Summer Block Party
.main-content
  .content-header
    
    %h1.mega Howdy Neighbors!

    %p Join us July 6th for the (?1st annual) Crossroads Summer Block Party presented by Golden Sound Records! Enjoy an evening of live music, food, and festivities to celebrate Kansas City's culture and its sweltering (? vibrant / sultry) summers.

    %p We're Kicking things off around (? 7PM) on 19th street in the Crossroads (? Arts) District (between Wyandotte and Baltimore). Spend the evening chowing down on local food truck cuisine, hanging with friends & neighbors, and take in the sounds of some of KC's most dynamic local music.

    %p Bring your friends & family to the First Fridays event of 2012, preceding the MLB All-Star game hosted at Kauffman Stadium, and discover a taste of what makes Kansas City and the Crossroads (? Arts) District (? one-of-a-kind.)

    %h3 About Golden Sound Records

    %p Golden Sound Records is a Kansas City based record label. We work with (? local) artists (of whom we particularly enjoy) to provide a fresh, exciting catalog of new music.

  #schedule
    %h2 Schedule
    %ul#schedule-list
      %li.band
        .name-time
          .name The Caves
          .time 4:30 - 5
        %p Formed from a studio band that recorded Mat Shoare’s solo album by the same name The Empty Spaces have been interpreting Shoare’s song writing since early 2010. Eventually the three piece began to collaborate more with song arrangements and stylistic choices yielding a kind of “retro-punk rock” that is fronted with an energetic, yelping vocal style.
        %img{:src => "img/band_tes.jpg"}
        %a.band-link{:href => "http://thecaves.us/", :target => "blank"} Website
      %li.band
        .name-time
          .name Cowboy Indian Bear
          .time 4:30 - 5
        %p Formed from a studio band that recorded Mat Shoare’s solo album by the same name The Empty Spaces have been interpreting Shoare’s song writing since early 2010. Eventually the three piece began to collaborate more with song arrangements and stylistic choices yielding a kind of “retro-punk rock” that is fronted with an energetic, yelping vocal style.
        %img{:src => "img/band_tes.jpg"}
        %a.band-link{:href => "http://cowboyindianbear.tumblr.com/", :target => "blank"} Website
      %li.band
        .name-time
          .name The Empty Spaces
          .time 4:30 - 5
        %p Formed from a studio band that recorded Mat Shoare’s solo album by the same name The Empty Spaces have been interpreting Shoare’s song writing since early 2010. Eventually the three piece began to collaborate more with song arrangements and stylistic choices yielding a kind of “retro-punk rock” that is fronted with an energetic, yelping vocal style.
        %img{:src => "img/band_tes.jpg"}
        %a.band-link{:href => "http://theemptyspacesband.com/", :target => "blank"} Website
      %li.band
        .name-time
          .name Everyday/Everynight
          .time 4:30 - 5
        %p Formed from a studio band that recorded Mat Shoare’s solo album by the same name The Empty Spaces have been interpreting Shoare’s song writing since early 2010. Eventually the three piece began to collaborate more with song arrangements and stylistic choices yielding a kind of “retro-punk rock” that is fronted with an energetic, yelping vocal style.
        %img{:src => "img/band_eden.jpg"}
        %a.band-link{:href => "https://goldensoundrecords.com/artists/everyday-everynight", :target => "blank"} Website
      %li.band
        .name-time
          .name Fullbloods
          .time 4:30 - 5 
        %p Formed from a studio band that recorded Mat Shoare’s solo album by the same name The Empty Spaces have been interpreting Shoare’s song writing since early 2010. Eventually the three piece began to collaborate more with song arrangements and stylistic choices yielding a kind of “retro-punk rock” that is fronted with an energetic, yelping vocal style.
        %img{:src => "img/band_fullbloods.jpg"}
        %a.band-link{:href => "http://fullbloods.com/", :target => "blank"} Website 
      %li.band
        .name-time
          .name Soft Reeds
          .time 4:30 - 5
        %p Formed from a studio band that recorded Mat Shoare’s solo album by the same name The Empty Spaces have been interpreting Shoare’s song writing since early 2010. Eventually the three piece began to collaborate more with song arrangements and stylistic choices yielding a kind of “retro-punk rock” that is fronted with an energetic, yelping vocal style.
        %img{:src => "img/band_tes.jpg"}
        %a.band-link{:href => "http://softreeds.com/", :target => "blank"} Website
      %li.band
        .name-time
          .name Spirit Is The Spirit
          .time 4:30 - 5
        %p Formed from a studio band that recorded Mat Shoare’s solo album by the same name The Empty Spaces have been interpreting Shoare’s song writing since early 2010. Eventually the three piece began to collaborate more with song arrangements and stylistic choices yielding a kind of “retro-punk rock” that is fronted with an energetic, yelping vocal style.
        %img{:src => "img/band_tes.jpg"}
        %a.band-link{:href => "https://www.facebook.com/spiritisthespirit", :target => "blank"} Website

.sidebar
  #sponsors
    %h3 Sponsors
    %ul
      %li
        %a{:href => "http://www.pitch.com/"} 
          %img{:src => "img/sponsor_pitch.png"}
      %li
        %a{:href => "http://www.pitch.com/"} 
          %img{:src => "img/sponsor_t2.gif"}
      %li
      %li
      %li
      %li
      %li
      %li
      %li
  #twitter
    %h3 News Feed
    %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 30000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ee3e35',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#333333',
            links: '#0F8FBB'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: true,
          behavior: 'all'
        }
      }).render().setUser('goldensoundrecs').start();




