- content_for :head do
  %title Crossroads Summer Block Party - Kansas City, Missouri
.main-content
  .content-header
    
    %h1.mega Howdy Neighbors!

    :markdown
      It's time to start gearing up for Crossroads Summer Block Party 2013! It's sure to pack a bigger punch than last year. In the meantime, check out the recap video from last year's event.

    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "http://www.youtube.com/embed/jXbhlDi3Snc", :width => "853"}

  #schedule
    %h2 2013 Schedule
    %ul#schedule-list
      %li.band
        .name-time
          .name Akkilles
          .time 6:00 - 6:30
      %li.band
        .name-time
          .name Opossum Trot
          .time 6:45 - 7:15
      %li.band
        .name-time
          .name Oils
          .time 7:30 - 8:00
      %li.band
        .name-time
          .name Millions of Boys
          .time 8:15 - 8:45
      %li.band
        .name-time
          .name Hidden Pictures
          .time 9:00 - 9:30
      %li.band
        .name-time
          .name Shy Boys
          .time 9:45 - 10:15
      %li.band
        .name-time
          .name Fullbloods
          .time 10:30 - 11:00
      %li.band
        .name-time
          .name Cowboy Indian Bear
          .time 11:15 - 12:00

.sidebar
  .sponsors
    %h3 Sponsors
    %ul
      = partial "sponsors"
      
  #twitter
    %h3 News Feed
    %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 30000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ee3e35',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#333333',
            links: '#0F8FBB'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: true,
          behavior: 'all'
        }
      }).render().setUser('KCBlockParty').start();




