- content_for :head do
  %title Crossroads Summer Block Party - Kansas City, Missouri
.main-content
  .content-header
    
    %h1.mega Howdy Neighbors!

    :markdown
      It's time to start gearing up for Crossroads Summer Block Party 2013! It's sure to pack a bigger punch than last year. In the meantime, check out the recap video from last year's event.

    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "http://www.youtube.com/embed/jXbhlDi3Snc", :width => "853"}

  #schedule
    %h2 2013 Schedule
    %ul#schedule-list
      %li.band
        .name-time
          .name Akkilles
          .time 6:00 - 6:30
        .content
          .photo{:'data-src' => "/img/bands/akkilles.jpg"}
            %img.hidden
          %p Akkilles, stage name for Kansas City songwriter David Bennett, will release his first full-length album in July 2013, titled Something You’d Say. The ten tracks, written and recorded in October 2012, represent a year in review, or rather, a year thinking nostalgically about and processing loss. “It’s all sort of a response to what was going on at a really specific time a couple years back. I couldn’t seem to find stability in many different areas of my life, but it wasn’t all bad. It was just new and unexpected… and difficult,” explains Bennett. The result is an anecdotal songwriting, candid though reserved, as if to protect the privacy of the story. 

          %p Something You’d Say is heavily layered, though with simple song structures. “The whole record is guitar driven, but I found myself most interested in ambient noises, usually from the piano or auxiliary percussion,” Bennett says. “We spent a lot of time layering guitars, voices and sounds we accidentally created. There’s a lot going on. It would definitely be a stretch to try to perform these songs with just an acoustic guitar.”

          %p In addition, Bennett reveals that his material isn’t isolated to his own experience or ability to make music.  “I feel like this record belongs to a lot of people—the engineer, my band mates, my friends and even this city, “ he says. “I had a lot of help from a lot of generous people along the way.” 

          %p Look for the album, Something You’d Say, to be released on The Record Machine July 2, 2013. 
          %a.band-link{:href => "https://soundcloud.com/akkilles", :target => "blank"} Website
      %li.band
        .name-time
          .name Opossum Trot
          .time 6:45 - 7:15
      %li.band
        .name-time
          .name Oils
          .time 7:30 - 8:00
      %li.band
        .name-time
          .name Millions of Boys
          .time 8:15 - 8:45
      %li.band
        .name-time
          .name Hidden Pictures
          .time 9:00 - 9:30
      %li.band
        .name-time
          .name Shy Boys
          .time 9:45 - 10:15
      %li.band
        .name-time
          .name Fullbloods
          .time 10:30 - 11:00
      %li.band
        .name-time
          .name Cowboy Indian Bear
          .time 11:15 - 12:00
        .content
          .photo{:'data-src' => "/img/bands/cowboy-indian-bear.jpg"}
            %img.hidden
          %p Lawrence, Kansas’ favorite sons (and daughter), Cowboy Indian Bear, make both a reaffirmation and a grand leap forward with their second full-length album Live Old, Die Young. It was captured alongside producer/engineer Joshua Browning and over three years that included a grueling touring regimen through multiple blizzards, blown tires, shouting matches in art galleries, travels to exotic locales and the loss of beloved family members. Trust that the joys and adversities of that period all find their way onto LO,DY in multiple ways.

          %p If their debut album Each Other All The Time was about constructing a framework, the laying of a foundation, their latest collection of ethereal indie rock is about the subtleties and embellishments that turn a house into a home. The individual memories and collective hardships of the quartet are spread throughout LO,DY like family portraits on a mantle. While all the pictures may be beautifully rendered and cleanly framed at first glance, a deeper look suggests something a little more difficult to work around. But life is not as linear as it is often idealized. Once again those challenges, both musically and narratively, are being put forth in Cowboy Indian Bear’s work. LO,DY, however, is a testament to bonding, growth and family ties. If you look a bit closer the results are likely better – a lot better – than the last time you paid a visit. Maybe stay a while this time.

          %a.band-link{:href => "http://www.cowboyindianbear.com", :target => "blank"} Website

.sidebar
  .sponsors
    %h3 Sponsors
    %ul
      = partial "sponsors"
      
  #twitter
    %h3 News Feed
    %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 30000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ee3e35',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#333333',
            links: '#0F8FBB'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: true,
          behavior: 'all'
        }
      }).render().setUser('KCBlockParty').start();




