.main-content.sampler
  %h2 Crossroads Summer Block Party Sampler
  %h4
    Get a feel for what you'll be hearing on Friday, June 7th at the Crossroads Summer Block Party and enjoy these free tracks by local Kansas City artists.

  %h4
    %a.sampler-download{:href => "http://rossfil.es/1H2r1T0W23341K1M161y/download/CSBP%202012%20Sampler.zip"} 
      %i{:class => 'icon-download'}
      Download the sampler (.zip file of mp3s)
  #music_player

.sidebar
  .sponsors
    %h3 Sponsors
    %ul
      = partial "sponsors"