.main-content.sampler
  %h2 Crossroads Summer Block Party Sampler
  %h4
    Get a feel for what you'll be hearing on Friday, June 6th at the Crossroads Summer Block Party and enjoy these free tracks by local Kansas City artists.

  %h4
    %a.sampler-download{:href => "http://rossfil.es/1u3R162u3P0W/download/CSBP_2014.zip"}
      %i{:class => 'icon-download'}
      Download the sampler (.zip file of mp3s)

  #music_player

.sidebar
  .sponsors
    %h3 Sponsors
    %ul
      = partial "sponsors"